<a href="https://colab.research.google.com/github/caballeroarturo/clase07/blob/main/ejemplo0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
install.packages("pacman")

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

In [4]:
pacman::p_load(DBI,RMySQL)

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)


RMySQL installed

In [5]:
# Una vez que se tengan las librerias necesarias se procede a la lectura
# (podría ser que necesites otras, si te las solicita instalalas y cargalas),
# de la base de datos de Shiny la cual es un demo y nos permite interactuar con
# este tipo de objetos. El comando dbConnect es el indicado para realizar la
# lectura, los demás parametros son los que nos dan acceso a la BDD.

MyDataBase <- dbConnect(
  drv = RMySQL::MySQL(),
  dbname = "shinydemo",
  host = "shiny-demo.csa7qlmguqrf.us-east-1.rds.amazonaws.com",
  username = "guest",
  password = "guest")

In [6]:
dbListTables(MyDataBase)

# Ahora si se quieren desplegar los campos o variables que contiene la tabla
# City se hará lo siguiente

[1] "City"            "Country"         "CountryLanguage"

In [7]:
dbListFields(MyDataBase, 'City')

[1] "ID"          "Name"        "CountryCode" "District"    "Population"

In [8]:
library(rvest)
# Introducimos una dirección URL donde se encuentre una tabla

theurl <- "https://solarviews.com/span/data2.htm"
file <- read_html(theurl)    # Leemos el html
# Selecciona pedazos dentro del HTML para identificar la tabla

tables <- html_nodes(file, "table")

In [10]:
tables

{xml_nodeset (6)}
[1] <table border="2" bgcolor="#0" width="100%" cellspacing="2" cellpadding=" ...
[2] <table border="2" width="100%" bgcolor="#0"><th><font color="#ffffc0" siz ...
[3] <table border="2" width="100%" bgcolor="#0">\n<a name="phy"></a><th><font ...
[4] <table border>\n<tr align="CENTER">\n<th>Nombre</th>\n<th>Vo</th>\n<th>Di ...
[5] <table border="2" width="100%" bgcolor="#0"><th><font size="-2"> </font>< ...
[6] <table border="2" width="100%" bgcolor="#0"><th><font size="-2"> </font>< ...

In [11]:
dbListTables(MyDataBase)

# Ahora si se quieren desplegar los campos o variables que contiene la tabla
# City se hará lo siguiente

dbListFields(MyDataBase, 'City')

# Para realizar una consulta tipo MySQL sobre la tabla seleccionada haremos lo
# siguiente

DataDB <- dbGetQuery(MyDataBase, "select * from City")

# Observemos que el objeto DataDB es un data frame, por lo tanto ya es un objeto
# de R y podemos aplicar los comandos usuales

class(DataDB)
head(DataDB)

[1] "City"            "Country"         "CountryLanguage"

[1] "ID"          "Name"        "CountryCode" "District"    "Population"

[1] "data.frame"

  ID Name           CountryCode District      Population
1 1  Kabul          AFG         Kabol         1780000
2 2  Qandahar       AFG         Qandahar       237500
3 3  Herat          AFG         Herat          186800
4 4  Mazar-e-Sharif AFG         Balkh          127800
5 5  Amsterdam      NLD         Noord-Holland  731200
6 6  Rotterdam      NLD         Zuid-Holland   593321